@using CidadeInteligente.Application.Queries.GetRelatedProjectsFromUser
@using CidadeInteligente.Domain.Enums
@using static CidadeInteligente.Application.Queries.GetRelatedProjectsFromUser.GetRelatedProjectsFromUserQueryResult
@model GetRelatedProjectsFromUserQueryResult;

@{
    ViewData["Title"] = "Meus Projetos";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/my-projects.css" />
}

<partial name="_Header" />

<main class="p-3">
    <div class="container-fluid">
        <h3 class="title-my-projetos">Meus Projetos</h3>
        <hr>
        <div class="row justify-content-center mb-5 myProjects">
            @if (!Model.Data.Any())
            {
                <h3 class="text-center">Você não está envolvido em nenhum projeto.</h3>
            }
            else foreach (ProjectViewModel project in Model.Data)
            {
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                    <div class="card card-projeto">
                        @if (project.Medias.First().IsVideo)
                        {
                            <video loop muted autoplay class="d-block" style="width:inherit" preload="metadata" src="@project.Medias.First().Path"></video>
                        }
                        else
                        {
                            <img class="card-img-top img-card" src="@project.Medias.First().Path">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                        <a href="/projects/@project.ProjectId/view" class="btn btn-block mt-2 btn-view-project">Ver Projeto</a>
                        @if (User.IsInRole(nameof(Role.Teacher)))
                        {
                            <a href="/projects/@project.ProjectId/edit" class="btn mt-2 btn-edit-project">Editar</a>
                            <button id="@project.ProjectId" class="btn mt-2 btn-delete-project">Excluir</button>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center mt-3 pages">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i != Model.Page)
                {
                    <a href="/meus-projetos?page=@i">
                        <button class="btn btn-default-red m-1">@i</button>
                    </a>
                }
                else
                {
                    <button class="btn btn-strong-red m-1" disabled>@i</button>
                }
            }
        </div>
    </div>
</main>

@section Scripts
{
    <script src="~/js/my-projects.js"></script>
}
