@using CidadeInteligente.Application.ViewModels;
@using CidadeInteligente.Core.Enums
@using CidadeInteligente.Core.Models;
@model PaginationResult<ProjectViewModel>;

@{
    this.ViewData["Title"] = "Meus Projetos";
}

<link rel="stylesheet" href="~/css/header.css" />

<style>
    .title-my-projetos {
        background: #b11116;
        color: white;
        width: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
        box-shadow: 0 6px 6px rgba(92, 92, 92, 0.4)
    }

    .btn-edit-project {
        background: rgb(80, 80, 80);
        color: white;
        border: none
    }

    .btn-edit-project:hover {
        background: rgb(51, 51, 51);
        color: white;
        border: none
    }

    .btn-delete-project {
        background: #b11116;
        color: white;
        border: none
    }

    .btn-delete-project:hover {
        background: #7d0c0f;
        color: white;
        border: none
    }

    .btn-view-project {
        background: rgb(53, 83, 100);
        color: white;
        border: none
    }

    .btn-view-project:hover {
        background: rgb(51, 51, 51);
        color: white;
        border: none
    }

    .navbar-toggler {
        background: #b11116
    }

    .mdi-menu {
        color: aliceblue;
        font-size: 24px
    }

    .card-projeto {
        padding: 10px;
        box-shadow: 0 0 1em rgb(114 114 114)
    }
</style>

<partial name="_Header" />

<main class="p-3">
    <div class="container-fluid">
        <h3 class="title-my-projetos">Meus Projetos</h3>
        <hr>
        <div class="row justify-content-center mb-5 myProjects">
            @if (this.Model.Data.Count == 0) {
                <h3 class="text-center">Você não está participando de nenhum projeto.</h3>
            } else {
                foreach (ProjectViewModel project in this.Model.Data) {
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                        <div class="card card-projeto">
                            @if (project.Medias[0].Extension == ".mp4") {
                                <video class="d-block" style="width:inherit" preload="metadata" src="@project.Medias[0].Path"></video>
                            } else {
                                <img class="card-img-top img-card" src="@project.Medias[0].Path">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@project.Title</h5>
                                <p class="card-text">
                                    @if (project.Description is not null) {
                                        @(project.Description.Length < 125 ? project.Description : $"{project.Description[0..125]}...")
                                    } else {
                                        <small>Sem descrição</small>
                                    }
                                </p>
                            </div>
                            <a href="/ver-projeto/@project.ProjectId" class="btn btn-block mt-2 btn-view-project">Ver Projeto</a>
                            @if (this.User.IsInRole(nameof(Role.Teacher))) {
                                <a href="/editar-projeto/@project.ProjectId" class="btn mt-2 btn-edit-project">Editar</a>
                                <button id=@project.ProjectId class="btn mt-2 btn-delete-project">Excluir</button>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row justify-content-center mt-3 pages">
            @for (int i = 1; i <= this.Model.TotalPages; i++) {
                if (i != this.Model.CurrentPage) {
                    <a href="/meus-projetos?page=@i">
                        <button class="btn btn-default-red m-1">@i</button>
                    </a>
                } else {
                    <button class="btn btn-strong-red m-1" disabled>@i</button>
                }
            }
        </div>
    </div>
</main>

<script>
    $(document).ready(() => {
        $(".btn-delete-project").click(function () {
            Swal.fire({
                html: `<h2 style="color: white;">Deseja mesmo excluir este projeto?</h2>`,
                background: "rgb(70, 5, 7)",
                icon: "question",
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonText: "Sim",
                confirmButtonColor: "#d9534f",
                cancelButtonText: "Não",
                cancelButtonColor: "#f0ad4e"
            }).then(async ({ value }) => {
                if (!value) return;

                sweetAlertAwait("Apagando projeto");
                const { status } = await restAPI.delete(`projects/${$(this).attr("id")}`);
                toggleExitConfirmation(false);

                switch (status) {
                    case 204:
                        sweetAlert("success", "Projeto apagado com sucesso!");
                        $(this).parents("div.col-12").hide(500);
                        setTimeout(() => {
                            $(this).parents("div.col-12").remove();
                            if ($(".myProjects").find("div.col-12").length == 0 && $(".pages").find("a").length == 0) // Se há não mais projetos nestá única página, aparece uma mensagem de que não há projetos
                                $(".myProjects").html("<h3 class='text-center'>Você não está participando de nenhum projeto ainda.</h3>");

                            if ($(".myProjects").find("div.col-12").length == 0 && $(".pages").find("a").length > 0) // Se há não hour mais projetos nesta página, vai para a página anterior
                                [...$(".pages a")].at(-1).click();
                        }, 500);
                        break;
                    case 404:
                        sweetAlert("error", "Este projeto não existe mais!");
                        break;
                }
            });
        })
    });
</script>